<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/indexStyle.css">
    
    <title>BCIT Study Room Scheduler</title>    
</head>
<body>

    
<div class="wrapper">
    <div class="logoGrid"> 
        <div id="logodiv">
            <img src="BCIT_logo.png" id="logo">
        </div>
        <div id="para">BCIT Room Booking System</div>

        <button class="viewButton" id="todayBut">Today</button>
        <button class="viewButton" id="weekBut">Week</button>
        <button class="viewButton" id="monthBut">Month</button>

    </div>


    <div class="container">
        <div class="times">
            <div class="timeHeader"><b>Times</b></div>
            <% for (i in times) { %>
                <div class="timeTwo"><%=times[i].time%></div>
            <% } %>
        </div>
        <div class="roomOne">
            <% let check = false %>
            <div class="roomNumber">Room <%=rooms[0].number%></div>
            <% for (n in btimes) { %>
                <% if (check) { %>
                <div class="free">Free</div>
                <% } %>
                <% check = true %>
                <% for (i in bookings) { %> 
                    <% if (bookings[i].roomNumber === rooms[0].number && bookings[i].time === btimes[n]) { %> 
                        <div class="booked"><%=bookings[i].time%></div>
                        <% check = false %>
                    <% } %>
                <% } %>
                
            <% } %>
        </div>
        <div class="roomTwo">
            <% let checkTwo = false %>
            <div class="roomNumber">Room <%=rooms[1].number%></div>
            <% for (n in btimes) { %>
                <% if (checkTwo) { %>
                    <div class="free">Free</div>
                <% } %>
                <% checkTwo = true %>
                <% for (i in bookings) { %> 
                    <% if (bookings[i].roomNumber === rooms[1].number && bookings[i].time === btimes[n]) { %> 
                        <div class="booked"><%=bookings[i].time%></div>
                        <% checkTwo = false %>
                    <% } %>
                <% } %>
                
            <% } %>
        </div>
        <div class="roomThree">
            <% let checkThree = false %>
            <div class="roomNumber">Room <%=rooms[2].number%></div>
            <% for (n in btimes) { %>
                <% if (checkThree) { %>
                    <div class="free">Free</div>
                <% } %>
                <% checkThree = true %>
                <% for (i in bookings) { %> 
                    <% if (bookings[i].roomNumber === rooms[2].number && bookings[i].time === btimes[n]) { %> 
                        <div class="booked"><%=bookings[i].time%></div>
                        <% checkThree = false %>
                    <% } %>
                <% } %>
                
            <% } %>
        </div>
    </div>  <!--container end-->

    <img src="floorplan.jpg" id="map">
    <div id="todayDate">
        Today's Date: <script> document.write(new Date().toDateString()); </script>
        <button id="logout"> Log out</button>
    </div>
    
    <div id="color2">  
        <form action="/book" method="POST">
            <div class="form-group">
                <label for="name"><b>Name</b></label>
                <input type="name" placeholder="Enter Name" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="roomNumber"><b>Room Number</b></label>
                <select id="roomNumber" name ="roomNumber">
                    <% for (i in rooms) { %>
                        <option value="<%=rooms[i].number%>"><%=rooms[i].number%></option> 
                    <% } %>
                </select>
            </div>
            <div class="form-group">
                <lable for="time"><b>Time</b></lable>
                <select id="time" name="time">
                    <option value="9:00am">9:00</option>
                    <option value="10:00am">10:00</option>
                    <option value="11:00am">11:00</option>
                    <option value="12:00pm">12:00</option>
                    <option value="1:00pm">1:00</option>
                    <option value="2:00pm">2:00</option>
                    <option value="3:00pm">3:00</option>
                    <option value="4:00pm">4:00</option>
                    <option value="5:00pm">5:00</option>
                </select>
            </div>
            <div class="form-group">
                <lable for="length"><b>Length</b></lable>
                <select id="length" name="length">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>

        
        
</div>

    <!-- <div id="header">
        <button id="today" type="button">Today</button>
        <button id="month" type="button">Month</button>
        <button id="week" type="button">Week</button>
    </div> -->
    <!-- <div id="date"></div>
    <div id="day-view"></div>
    <div id="app-calendar"></div> -->
    <!-- <script type="module" src="calendar.js"></script> -->
</body>
</html>
